* {
    padding: 0px;
    margin: 0px;
}

.conteiner {
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.conteiner > div{
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 25px;
}


.conteiner2 {
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteiner2 > div{
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 25px;
}

.conteiner3 {
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.conteiner3 > div{
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 25px;
}

.conteiner4 {
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner4 > div{
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 25px;
}