.circulos {
    width: 150px;
    height: 150px;
    background-color: purple;
    border-radius: 75px;
    position: static;
}

#primeiro {
    position:absolute;
    top: 0px;
    left: 0px;
}

#segundo {
    position:absolute;
    top: 0px;
    right: 0px;
}

#terceiro {
    position: absolute;
    top: 40%;
    left: 43%;
}

#quarto {
    position:absolute;
    bottom: 0px;
    left: 0px;
}

#quinto {
    position:absolute;
    bottom: 0px;
    right: 0px;
}