@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    background-color: rgba(35, 39, 42, 1);
    border: 8px solid rgba(89, 102, 243, 1);
    overflow: hidden;
    font-family:'Inria Serif', serif;
}

.welcome {
    position: absolute;
    font-size: 96px;
    color:rgba(114, 137, 218, 1);
    text-shadow: -0.5rem 0.1em rgba(3, 3, 3, 0.618),
    -2px 0 black, 0 1px black,
    1px 0 black, 0 -1px black;
    left: 112px;
    top: 200px;
    margin:20px;
}

#nome {
    position: absolute;
    left: 500px;
}

#estatua {
    position: absolute;
    width: 30vw;
    height: auto;
    left: 69.6vw;
    top: 8px;   
}
    
#nuvemrosa {
    position: absolute;
    width: 448px;
    height: 254px;
    left: 76vw;
    top: 313px;
}

#nuvembranca {
    position: absolute;
width: 439px;
height: 259px;
left: 77vw;
top: 345px;
}

.mao-img{
    position: absolute;
    width: 45vw;
    height: auto;
    left: -27px;
    bottom: -25px;
}

button {
    font-size: 30px;
    color: rgba(89, 102, 243, 1);
    background-color: rgb(28, 31, 33);
    border:4px solid black;
    border-radius: 30px;
    width: 200px;
    height: 70px;
    margin: 20px;
    cursor: pointer;
    
}

.buttons{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 12.5vw;
    bottom: 100px;
    right: 450px;
}

div>button:hover{
    font-size: 38px;
    background-color: rgb(34, 35, 36);
    color: rgb(104, 116, 241);
}

a:link , a:visited, a:active{
    font-size: 30px;
    color: rgba(114, 137, 218, 1);
    text-decoration: none;
    font-family: 'Inria Serif', serif;
}

a:hover{
    font-size: 38px;
    color: rgb(104, 116, 241);
}