*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(47, 47,47);
    display: flex;
    justify-content: center;
    align-items: center;
}

#cir {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    border-radius: 50px;
    animation-iteration-count: infinite;
}
    
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

#quad {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: quad;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes quad {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}