@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Silkscreen&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 100px;
    background-color: grey;
    border-bottom: 10px solid rgb(93, 86, 131);
    display: flex;
    justify-content: space-between;
    font-family: 'Silkscreen', cursive;
    font-family: 'Indie Flower', cursive;
}

img{
    height: 8vh;
}

div {
    display: flex;
    align-items: center;
    margin: 25px;
}

.esquerda-header > p{
    font-size: 5vh;
    font-weight: bold;
    text-decoration: underline;
    padding: 30px;
}

.direita-header > p {
    border: 3px solid rgb(93, 86, 131);
    border-radius: 10px;
    background-color: black;
    margin-left: 20px;
    font-size: 20px;
    color: aliceblue;
    padding:  5px 20px;   
}
