*{
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: #f5f5f5;
    width: 100vw;
    height: 100vh;
}

div {
    position: absolute;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#d1{
    width: 10vw;
    height: 20vh;
    top: 50vh;
    left: 50vw;
}

#d2{
    width: 5vw;
    height: 10vh;
    top: 60vh;
    left: 60vw;
}

#d3{
    width: 10vw;
    height: 20vh;
    top: 50vh;
    left: 50vw;
}

#d4{
    width: 10vw;
    height: 20vh;
    top: 50vh;
    left: 50vw;
}

#d5{
    width: 10vw;
    height: 20vh;
    top: 50vh;
    left: 50vw;
}

#d6{
    width: 10vw;
    height: 20vh;
    top: 50vh;
    left: 50vw;
}

#d7{
    width: 10vw;
    height: 20vh;
    top: 50vh;
    left: 50vw;
}

#d8{
    width: 10vw;
    height: 20vh;
    top: 50vh;
    left: 50vw;
}

#d9{
    width: 10vw;
    height: 20vh;
    top: 50vh;
    left: 50vw;
}

#d10{
    width: 10vw;
    height: 20vh;
    top: 50vh;
    left: 50vw;
}

#d11{
    width: 10vw;
    height: 20vh;
    top: 50vh;
    left: 50vw;
}
