* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: pink;
    width: 100vw;
    height: 15vh;
}

main {
    background-color: green;
    width: 100vw;
    height: 75vh;
}

footer {
    background-color: orange;
    width: 100vw;
    height: 10vh;
}

.retangulo {
    background-color: red;
    width: 20vw;
    height: 75vh;
}