@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;600;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Schibsted Grotesk', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../assets/somehing-went-wrong-alt.svg");
    background-repeat: no-repeat;
    background-size: 50vw 90vh;
    background-color: #ff3f3f;
    background-attachment: fixed;
    background-position: left center; 
}

#container{
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #ffff;
    position: absolute;
    right: 20%;
    border-radius: 50px;
    box-shadow: 10px 10px #a1a0a0bd;
}

#voltar{
    width: 30px;
    height: auto;
    position: absolute;
    top: 50px;
    left: 30px;
    cursor: pointer;
}

#logo{
    width: 100px;
    height: auto;
    position: absolute;
    top: 52px;
    left: center;
}

#login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:18px;
    font-weight: 400; 
	color: black;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:250px;
  height: 35px;
  padding:8px 0 5px 0;
  font-size:16px;
  color:black;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
}

#cadastrar{
    width: 240px;
    height: 50px;
    border: none;
    background-color: #e74c3c;
    color: white;
    font-size:20px ;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
}

#cadastrar:hover{
    background-color: #ea6f61;
    font-size: 22px;
}
