body {
    width: 1000px;
    height: 600px;
}

.ret {
    width: 400px;
    height: 100%;
    background-color: purple;
}

.ret2 {
    width: 50%;
    height: 50%;
    background-color: blue;
}


