/*vh= serve para preencher a tela inteira
*= serve para selecionar todo conteudo da pagina*/

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(240, 9, 171);
    width: 100vw;
    height: 15vh;
}

main {
    background-color: purple;
    width: 100vw;
    height: 75vh;
}

footer {
    background-color: blue;
    width: 100vw;
    height: 10vh;
}